<h1>Thank you very much again!</h1>
<img src="/assets/symbol.png" alt="symbol">
<form id="form" method="post">
    <button type="submit" name="logout" value="true">LOG OUT</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
<h2>These are who signed{{#if city}}in {{toUpperCase city}}{{/if}}:</h2>
<ul id="signers">
    {{#each data}}
        <li {{#compare data.owner_id 2}} style="background-color:yellow;"{{/compare}}>
            {{#if this.homepage}}
                <span><a href="{{this.homepage}}">{{ this.first_name }} {{ this.last_name}}</a></span>
            {{else}}
                <span >{{ this.first_name }} {{ this.last_name}}</span>
            {{/if}}
            {{#if this.age}}
                <span>{{this.age}}</span>
            {{/if}}
            {{#if this.city}}
                <span><a href="/signers/{{toLowerCase this.city}}">{{this.city}}</a></span>
            {{/if}}
        </li>
    {{/each}}
</ul>
