<h1>Thank you very much!</h1>
<h3>{{data.first_name}} {{data.last_name}} </h3>
<p id="notice" style="display:{{#if data.message}}inherit;{{else}}none;{{/if}}">{{#if data.message}}{{data.message}}{{/if}}</p>
<img id="symbol" src="./assets/symbol.png" alt="symbol">
<h3>Here's your signature:</h3>
<div class="frame">
    <img class="sig" src="{{data.sig}}" alt="signature">
</div>
<div class="h-wrapper">
    <a href="/profile/edit"><div class="menu">EDIT YOUR PROFILE</div></a>
    <form class="form" method="post">
        <button type="submit" name="deleteSig" class="menu" value="true">DEL YOUR SIG</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <a href="/signers"><div class="menu">SEE ALL {{data.signers}} SIGNERS</div></a>
</div>
<form class="form" method="post">
    <button type="submit" class="button" name="logout" value="true">LOG OUT</button>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
